html {
    overflow-x: hidden;
}
.seca1 {
    background-image: url(../images/backgrounds/h_img.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    margin-bottom: 2%;
}
#DDD {
    margin-left: 40%;
    margin-bottom: 8%;
    margin-top: 10%;
}

#pp1 {
    text-align: center;
    font-size: 36px;
}

#pp2 {
    text-align: center;
    font-size: 34px;
}

#pp3 {
    text-align: center;
    font-size: 22px;
}
#mouse {
    margin-left: 45%;
    margin-bottom: 5%;
}
.seca2 {
    color: floralwhite;
}
#ps1 {
    text-align: center;
}

#ps2 {
    text-align: center;
}

#ps3 {
    text-align: center;
    margin-bottom: 5%;
}
.about {
    text-align: center;
}

#explanation {
    text-align: center;
    margin-top: 4%;
}
#wwd {
    text-align: center;
    margin-top: 3%;
}
.icons {
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 15%;
}
.dsgn-hidden {
    display: none;
}

.dvt-hidden {
    display: none;
}
.mmgt-hidden {
    display: none;
}

.seca3 {
    margin-top: -3%;
    text-align: center;
}
.seca4 {
    margin-bottom: 2%;
    margin-top: 5%;
    background-position: center;
}
#cont {
    text-align: center;
    color: white;
    margin-top: 3%;
    font-style: italic;
}
#textarea {
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: transparent;
}
::placeholder {
    color: white;
}

.malii {
    margin-left: 40%;
}

#name {
    background-color: transparent;
}

#mail {
    background-color: transparent;
}
