html {
    overflow-x: hidden;
}
.seca1 {
    background-image: url(../images/backgrounds/h_img.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    margin-bottom: 2%;
}
#DDD {
    margin-left: 40%;
    margin-bottom: 8%;
    margin-top: 10%;